# SQL

*demo.py*

In [ ]:
#Establishing a connection with a database

import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)


print(mydb)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

*create_table.py*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)

mycursor = mydb.cursor()
mycursor.execute("create database if not exists test1")
mycursor.execute('CREATE TABLE if not exists test1.test_table (c1 int , c2 varchar(50) , c3 int , c4 float , c5 varchar(40));')
mydb.close()

*insert.py*

In [ ]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)


print(mydb)

mycursor = mydb.cursor()
mycursor.execute("insert into test1.test_table values (3232, 'ok' , 32, 31.3, 'k')")
mycursor.execute("insert into test1.test_table values (3232, 'ok' , 32, 31.3, 'k')")
mycursor.execute("insert into test1.test_table values (3232, 'ok' , 32, 31.3, 'k')")
mydb.commit()
mydb.close()

*query.py*

In [ ]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)


print(mydb)

mycursor = mydb.cursor()
mycursor.execute("select c1, c5 from test1.test_table")  #returns iterable
for i in mycursor.fetchall():
    print(i)