***Recording - 30th Jan***

In [ ]:
print(123)

123

In [ ]:
#concatenation error
age = 18
print("My age is:" + age)

TypeError: ignored

In [ ]:
age = 18
print("My age is:" , age)

My age is: 18

In [ ]:
# format()
age = 18
print("My age is: {}".format(age))

My age is: 18

In [ ]:
#f string
age = 18
print(f"My age is {age}")

My age is 18

In [ ]:
#placeholder
name = "yaga"
age = 18
print("My name is {firstname} and my age is {firstage}".format(firstage = age, firstname = name))

My name is yaga and my age is 18

**Control** **Flow**

if statements

In [ ]:
# ==,>=,<=

In [ ]:
age = 18
if age>=18:
  print('You are eligible to vote')
else:
  print("You are not eligible to vote")

You are eligible to vote

In [ ]:
input()

Hello

'Hello'

In [ ]:
name=input('Enter your name: ')
name

Enter your name: yaga

'yaga'

In [ ]:
age=int(input("Enter your age"))
age

Enter your age18

18

In [ ]:
age=int(input("Enter your age: "))
if 18 <= age <= 45:
  print("You are young blood")
else:
  print('Nope')

Enter your age: 17
Nope

In [ ]:
price = int(input("Please enter the product price to calculate the final price after discount: "))
if price > 1000:
  price -= 0.2 * price
  print(f"Final Price: {price}" )
else:
  price -= 0.3 * price
  print(f'Final Price: {price}')

Please enter the product price to calculate the final price after discount: 900
Final Price: 630.0

In [ ]:
price = int(input("Please enter the product price to calculate the final price after discount: "))
if price >= 3000:
  print(f'The product price after discount is {price*0.8}')
elif 2000 <= price <= 3000:
  if price == 2999:
    print("Congrats")
  print(f"The product price after discount is {price*0.7}")
elif 100 <= price <= 2000:
  print(f"The product price after discount is {price*0.6}")
else:
  print("Lets drink tea")

Please enter the product price to calculate the final price after discount: 2999
Congrats
The product price after discount is 2099.2999999999997

In [ ]:
#comparision operator
True == True

True

In [ ]:
#Single Statement Suites
val = int(input("enter the number"))
if (val<=999):print("value is less than equal to 999")
else:
  print("Go home")

enter the number990
value is less than equal to 999

Loop Statements
1. while loop
2. for loop
3. nested loops
4. loop control (break,continue,pass)

In [ ]:
# while loop
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age += 1
else:
  print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [ ]:
amt = 1000
while amt != 0:
  amt -= 100
  print(amt)
else:
  print("Insufficient money")

900
800
700
600
500
400
300
200
100
0
Insufficient money

In [ ]:
lst = ['a','b',1,4,8]
for i in lst:
  print(i)
  if i == 4 or i == 'b':
    print("4 baaj gaye")

a
b
4 baaj gaye
1
4
4 baaj gaye
8

In [ ]:
#arg of print()
lst = ['a','b',1,4,8]
for i in lst:
  print(i,end='')

ab148

In [ ]:
lst = ['a','b',1,4,8]
for i in lst:
  print(i,end='\n') #default value

a
b
1
4
8

In [ ]:
fruit = 'mango'
for i in fruit:
  print(i)
fruit[1]

m
a
n
g
o

'a'

In [ ]:
fruit = 'mango'
for i in fruit:
  print(i,end='')
fruit[1]

mango

'a'

In [ ]:
#range function
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
# Nested loops
n=7
for i in range(0,n):
  for j in range(0,i+1):
    print('*' , end = '')

****************************

In [ ]:
# Nested loops
n=7
for i in range(0,n):
  for j in range(0,i+1):
    print('*',end = '')
  print('\r')

*
**
***
****
*****
******
*******

In [ ]:
#loop control - break
letter = ['a','b','c','d','e','f']
for i in letter:
  if i == 'c':
    print('cya')
    break
  print(i)

a
b
cya

In [ ]:
#loop control - continue
letter = ['a','b','c','d','e','f']
for i in letter:
  if i == 'c':
    print('cya')
    continue
  print(i)

a
b
cya
d
e
f

In [ ]:
#loop control - pass
letter = ['a','b','c','d','e','f']
for i in letter:
  if i == 'c':
    print('cya')
    pass
  print(i)

a
b
cya
c
d
e
f