***2nd Feb***

### Q1. What are the characteristics of the tuples? Is tuple immutable?

1. Tuples are immutable data structures (meaning cannot be changed once created)
2. enclosed within parenthesis
3. ordered data structures
4. similar to lists except for tuples being immutable
5. items cannot be added or removed to a tuple once it is created (immutability)

### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

The two tuple methods available in Python are count and index. Examples are given below. Tuples have only 2 methods as compared to lists since tuples are immutable, hence methods which modify are excluded from the available tuple methods.

In [ ]:
t1 = (1,2,3,3,3,4,5,6,6,7)
type(t1)

tuple

In [ ]:
## .count() gives the number of occurences of a value
t1.count(6)

2

In [ ]:
## .index() returns the index of the first occurence of the specified value
t1.index(6)

7

### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
### List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set datatype does not allow duplicate items.

In [ ]:
## Method 1
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

In [ ]:
## Method 2
set1 = set(List)
set1

{1, 2, 3, 4}

### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

union() returns a new set that contains all the unique elements from both the original set and the sets passed as an argument. It does not modify the original set. If no argument is provided, union() returns a copy of the original set.
update() modifies the original set by adding all the unique elements from the sets passed as an argument. It does not return a new set. If no argument is provided, update() does nothing.

In [ ]:
set2 = {1,2,3,4}
set3 = {5}

In [ ]:
set2.update(set3)
set2

{1, 2, 3, 4, 5}

In [ ]:
set2.union(set3)
set2

{1, 2, 3, 4, 5}

### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

1. stores data in key:pair value
2. ordered datatype (as of python 3.7)
3. mutable

In [ ]:
dict1 = {'name':'pranav','number':2}
dict1

{'name': 'pranav', 'number': 2}

### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes a nested dictionary is possible in python but the second dictionary should be a value not a key.

In [ ]:
## An example of simple one-level nested dictionary
dict2 = {'name' : 'pranav' , 'numbers':{'a':1,'b':2}}
dict2

{'name': 'pranav', 'numbers': {'a': 1, 'b': 2}}

### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
### dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [ ]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])
dict1
## setdefault() returns the value of a key (if the key is in dictionary). Else, it inserts a key with the default value to the dictionary.

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

The 3 view objects in dictionaries are:
1. dict.keys(): This view object returns a dynamic view of the dictionary's keys. It provides a set-like interface, allowing you to perform operations such as iteration, membership tests, and set operations (e.g., intersection, union) with other sets. Any changes made to the dictionary will be reflected in this view.
2. dict.values(): This view object returns a dynamic view of the dictionary's values. It behaves similar to dict.keys(), but provides access to the values instead of the keys. Any changes made to the dictionary will be reflected in this view.
3. dict.items(): This view object returns a dynamic view of the dictionary's key-value pairs as tuples. It provides access to both keys and values, allowing you to iterate over the dictionary's items. Any changes made to the dictionary will be reflected in this view.

In [ ]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [ ]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [ ]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])